/* Styling for the main image editor container */
#imageEditor {
    margin: auto; /* Centers the container horizontally */
    padding:20px;  /* Adding padding inside the container */
    border:1px solid #4b4b4b;  /* Setting border color and thickness */
    -moz-border-radius:8px;
    -Webkit-border-radius:8px;
    border-radius:8px;
    background-color:#ababab; /* Sets the background color */
}

#editorContainer /* Container for the editor which includes editing tools */
{
    display: block; /* Ensures the container is a block-level element */
    overflow: auto; /* Adds scrollbars if content overflows */
    width: 800px;
    height: 500px;
}

#editor /* Styling for the editor element which can be an image display area */
{
    display: block;
    margin: auto;
}

#toolbar {
    display: block;
    margin-right: 50px;
}

#resizer {
    border:2px dashed #000
}

#toolbar button {
    padding: 10px 20px 10px 20px;
}
